apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hotrod
commonLabels:
  app: hotrod
helmCharts:
  - name: devxp-app
    releaseName: devxp-app
    version: 0.2.42
    repo: https://devxp-tech.github.io/helm-charts
    valuesInline:
      name: hotrod
      global:
        commonLabels:
          app: hotrod
          version: 0.2.22
      image:
        repository: jaegertracing/example-hotrod #kong/httpbin
        # tag: latest
      network:
        domain: devxp-tech.io
      # container:
      #   port: 80
      envs:
        # - name: OTEL_EXPORTER_OTLP_ENDPOINT
        #   value: http://otel-collector.observability.svc.cluster.local:4318
        # - name: OTEL_EXPORTER_JAEGER_ENDPOINT
        #   value: http://otel-collector.observability.svc.cluster.local:14268/api/traces
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: http://otel-collector.observability.svc.cluster.local:4318
        - name: OTEL_EXPORTER_JAEGER_ENDPOINT
          value: http://otel-collector.observability.svc.cluster.local:14268/api/traces
      quota:
        enabled: false
      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 1
        targetCPUUtilizationPercentage: 80
      livenessProbe:
        httpGet:
          path: /health-check/liveness
          port: 8080
        initialDelaySeconds: 15
        periodSeconds: 10
      readinessProbe:
        httpGet:
          path: /health-check/readiness
          port: 8080
        initialDelaySeconds: 15
        periodSeconds: 10
