connectors:
  - type: github
    id: github
    name: GitHub
    config:
      clientID: 83427ea0b6f6645900a5
      clientSecret: $github-secrets:dex.github.clientSecret
      orgs:
      - name: devxp-tech

staticClients:
- id: argo-workflows-sso
  name: Argo Workflow
  redirectURIs:
    - https://argo-workflows.devxp-tech.io/oauth2/callback
  secretEnv: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
