apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
helmCharts:
  - name: metrics-server
    releaseName: metrics-server
    version: 3.12.0
    repo: https://kubernetes-sigs.github.io/metrics-server/
    valuesInline:
      metrics:
        enabled: true
      args:
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
        - --kubelet-use-node-status-port
