apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
helmCharts:
- name: devxp-app
  releaseName: devxp-app
  version: 0.1.62
  repo: https://devxp-tech.github.io/helm-charts
  valuesInline:
    name: teste-162
    image:
      repository: ghcr.io/devxp-tech/teste-162
      tag: 01b42121
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 80
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 100m
    network:
      enabled: 
      domain: 
      service:
        type: 
        port: 
    probe:
      enabled: true
      livenessProbe:
        path: /health-check/liveness
        port: 8080
      readinessProbe:
        path: /health-check/readiness
        port: 8080
    deploy:
      enabled: true
    sa:
      enabled: true
    quota:
      enabled: true
      requests:
        memory: 1Gi
        cpu: 1
      limits:
        memory: 2Gi
        cpu: 2