apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kiali-operator
helmCharts:
- name: kiali-operator
  includeCRDs: true
  releaseName: kiali-operator
  version: 1.53.0
  repo: https://kiali.org/helm-charts
  valuesInline:
    # fullnameOverride: kiali
    auth:
      strategy: anonymous
    cr:
      create: true
      namespace: istio-system