apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wordpress
resources:
  - mysql-deploy.yaml
  - mysql-pvc.yaml
  - mysql-svc.yaml
  - ns.yaml
  - peerauthentication.yaml
  - pv.yml
  - sa.yaml
  - storage-class.yml
  - wordpress-deploy.yaml
  - wordpress-pvc.yaml
  - wordpress-quota.yaml
  - wordpress-svc.yaml
  - wordpress-vs.yaml
