apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
# patches:
#   - target:
#       kind: Namespace
#       name: cert-manager
#     patch: |-
#       - op: replace
#         path: /metadata/labels
#         value:
#           istio-injection: enabled
helmCharts:
  - name: cert-manager
    releaseName: cert-manager
    version: v1.14.4 #v1.11.0
    repo: https://charts.jetstack.io
    valuesInline:
      installCRDs: true
      namespace: "cert-manager"
      global:
        leaderElection:
          namespace: "cert-manager"
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          cpu: 20m
          memory: 64Mi
      prometheus:
        enabled: true
        servicemonitor:
          enabled: true
          prometheusInstance: prometheus.monitoring

