apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: istio-system
patches:
  - path: patch.yaml
    target:
      kind: Deployment
helmCharts:
  - name: gateway
    releaseName: gateway
    version: 1.20.0
    repo: https://istio-release.storage.googleapis.com/charts
    valuesInline:
      name: istio-ingressgateway
      labels:
        app_label: istio-ingressgateway
      podAnnotations:
        proxy.istio.io/config: '{"discoveryAddress" : "istiod.istio-system.svc:15012" }'
      autoscaling:
        enabled: true
      service:
        annotations:
          service.beta.kubernetes.io/aws-load-balancer-type: nlb
          numTrustedProxies: 2
        externalTrafficPolicy: Local
