apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dex
resources:
  - ns.yaml
  # - auth-policy.yaml
helmCharts:
  - name: dex
    releaseName: dex
    version: 0.13.0
    repo: https://charts.dexidp.io
    valuesInline:
      image:
        tag: v2.35.3
      envVars:
        - name: GITHUB_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: github-client
              key: client-id
        - name: GITHUB_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: github-client
              key: client-secret
        - name: KIALI_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: github-client
              key: kiali-secret
        - name: KUBECOST_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: github-client
              key: kubecost-secret
        - name: JAEGER_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: github-client
              key: jaeger-secret
        - name: DEX_K8S_AUTH_SECRET
          valueFrom:
            secretKeyRef:
              name: github-client
              key: DEX_K8S_AUTH_SECRET
      config:
        issuer: https://dex.devxp-tech.io
        storage:
          type: memory
        # enablePasswordDB: true
        connectors:
          - type: github
            # Required field for connector id.
            id: github
            # Required field for connector name.
            name: GitHub
            config:
              # Credentials can be string literals or pulled from the environment.
              clientID: $GITHUB_CLIENT_ID
              clientSecret: $GITHUB_CLIENT_SECRET
              redirectURI: https://dex.devxp-tech.io/callback
              orgs:
                - name: devxp-tech
                  teams:
                    - sre-team
              loadAllGroups: false
              teamNameField: slug
              useLoginAsID: false
        oauth2:
          skipApprovalScreen: true
        staticClients:
          - id: example-app
            name: "Example App"
            redirectURIs:
              - "http://127.0.0.1:5555/callback"
            secret: ZXhhbXBsZS1hcHAtc2VjcmV0

          - id: kiali-client
            name: "Kiali"
            redirectURIs:
              - "https://kiali.devxp-tech.io/kiali"
            SecretEnv: KIALI_CLIENT_SECRET

          - id: kubecost-client
            name: "KubeCost"
            redirectURIs:
              - "https://kubecost.devxp-tech.io/model/oidc/authorize"
            SecretEnv: KUBECOST_CLIENT_SECRET

          - id: jaeger-query
            name: "Jaeger"
            redirectURIs:
              - "https://jaeger.devxp-tech.io/oauth2/callback"
            SecretEnv: JAEGER_CLIENT_SECRET

          - id: dex-k8s-authenticator
            name: dex-k8s-authenticator
            redirectURIs:
              - https://kube-login.devxp-tech.io/callback/
            SecretEnv: DEX_K8S_AUTH_SECRET

          - id: argo-workflows
            name: argo-workflows
            redirectURIs:
              - https://argowf.devxp-tech.io/oauth2/callback/
            SecretEnv: ARGO-WORKFLOWS

  - name: dex-k8s-authenticator
    releaseName: dex-k8s-authenticator
    version: 0.0.2
    repo: https://charts.sagikazarmark.dev
    valuesInline:
      envFrom:
        - secretRef:
            name: github-client
      config:
        web_path_prefix: /
        debug: true
        clusters:
          - name: lgseksd1
            short_description: "AWS EKS Cluster - lgseksd1"
            description: "AWS EKS Cluster - lgseksd1"
            client_id: lgseksd1
            client_secret: ${DEX_K8S_AUTH_SECRET}
            issuer: https://dex.devxp-tech.io
            k8s_master_uri: https://8673475BD214DFD1169339A996680AE1.gr7.us-east-1.eks.amazonaws.com
            redirect_uri: https://kube-login.devxp-tech.io/callback/
            # k8s_ca_pem: |
            #   -----BEGIN CERTIFICATE-----
            #   MIIC/jCCAeagAwIBAgIBADANBgkqhkiG9w0BAQsFADAVMRMwEQYDVQQDEwprdWJl
            #   cm5ldGVzMB4XDTIxMTAyNjEzMTczNFoXDTMxMTAyNDEzMTczNFowFTETMBEGA1UE
            #   AxMKa3ViZXJuZXRlczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALog
            #   NwuCt3aKyVVCwAAfA1GAoujuT7RmLFbVeHV9O73NVWbT++Gyi/Ayv4PDa2oWLS6g
            #   Lj7fyb9Smdw1LKm4L/Qk8kabxSFIPEPzp9cD+fWbFfwRx/e7wyNlKKwcTlMPuXGF
            #   pVY+NU+tP30lHvthxymwgbpmiOQ/gCEWLtM9/bgiU57wnkWuwCObyWtHJLkrkwhR
            #   tV9Qb4BbZ9SGETcu2r9ehR2ATwSR1msEZRsXMmtV6Sy+zzrePG9P9NFh0+e/kpdg
            #   UO8FljRB/PnFvMg4eu+eFoBoaPE7iRuLjbNjIVLhRtsTJ7SHyAdXxi5C1WLBr6T6
            #   vWcWyHkKb9+aHMgEHesCAwEAAaNZMFcwDgYDVR0PAQH/BAQDAgKkMA8GA1UdEwEB
            #   /wQFMAMBAf8wHQYDVR0OBBYEFPynsEMQYphs1KsVi7Mph10SnUrjMBUGA1UdEQQO
            #   MAyCCmt1YmVybmV0ZXMwDQYJKoZIhvcNAQELBQADggEBAJsNPmJwxBwEOe40O1LQ
            #   herYNU4T06Qm5j4D0Nqx8AHhRWOub0zJl5Hx4Ph5tMLhlVo6c77X2H5RNGgHMxpJ
            #   SPUIinpoiR8BceDBzGPVI6mmqYc9MOVThGy+/uhf+140DldE3gG2vsdVjqbLlmXb
            #   MsbZEQhMTJrlA69QEs+EJC7Dihmevorc51UUf5hB0oN+GkCOs7z5jljjjotoGuCN
            #   YngJnm6SCbWwhhGfmhPIAVzGh9bBDmb/G3bEWLZ6pyHBJonRgWxlh/I200po7apP
            #   /JIOuCA89l4gG2v92O4iYS+wmmDSaPxNQQpeFU8ZaZRrnVnO1l/MFWPgQ4cvURoQ
            #   Bxo=
            #   -----END CERTIFICATE-----
